@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* general */
:root {
    --background-color: #000000;
    --white-color:white;
    --light-gray:hsl(0, 0%, 89%);
    --dark-gray:#818181;
    --accent-color:#FF7979;

    /* font */
    --font-size: 16px;
    --font-family: "inter", sans-serif;
    --font-family2: "Hind Siliguri", serif;
    --font-faimly3:"Newsreader", serif;
    --line-hegight:24px;

}

/* layout */

body{
    background: linear-gradient(to bottom, black, black 100%);

}

#hero{
    position: relative;
    width:100%;
    margin: 1vw;
    margin-bottom:-3vh;
    background-color: var(--light-gray);
    padding-top: var(--font-size);
    border-radius: 20px 20px 0 0;
    height: auto;
    z-index: 9999; /* 设置一个较高的 z-index 值 */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.hero-hidden {
    transform: translateY(-100%);
    opacity: 0;
}

hr{
    width:100%;
    border: 0.5px solid rgb(0, 0, 0);
    margin:0px;
    }

.content_grid {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: top;
}

.grid_left{
    width:40%;
    padding:calc(var(--font-size)*2);
    display: flex; /* 使用 Flexbox 布局 */
    flex-direction: column; /* 设置垂直布局 */
    align-items: flex-start; /* 设置子元素水平向左对齐 */
}


.grid_right {
    width: 60%;
    border-left: 1px solid rgb(0, 0, 0);
    padding: calc(var(--font-size) * 2);
    display: flex; /* 將容器設置為 flex 容器 */
    flex-direction: column;
    align-items:flex-end;
}





/* fonts */
h1{
    font-family: "Saira Condensed", sans-serif;
    font-size: calc(var(--font-size)*5);
    line-height:calc(var(--font-size)*6);
    margin:calc(var(--font-size)*0);
}



h2{
    width:30vw;
    font-size: calc(var(--font-size)*1.5);
    color: var(--dark-gray);
    font-family: "Karla", sans-serif;
    font-weight: 600;
    margin-top:calc(var(--font-size)*1.2);
    line-height: calc(var(--font-size)*2.2);

}

h3{
    font-size:calc(var(--font-size)*1.2);
    color: var(--background-color);
    line-height:calc(var(--font-size)*1.8);
    font-family: "Karla", sans-serif;
    text-align:right;
    width:auto;

}



h4{
    font-size:var(--font-size);
    color: var(--background-color);
    font-weight: 300;
    line-height:calc(var(--font-size)*1.5);
    font-family: "Karla", sans-serif;
    text-align:right;
    width:40vw;

}


h5{
    color:var(--accent-color);
    text-align: center;
    font-family: "Karla", sans-serif;
    
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}


h6{
    font-size: calc(var(--font-size)*1.5);
    color: var(--accent-color);
    font-family: "Karla", sans-serif;
    font-weight: 600;
    line-height: calc(var(--font-size)*2.2);
    text-align: center;
    font-weight: 200;
    margin:0px;
}


/* Planets */

#container{margin-top: -4vh;}

#svg1{animation: float 10s ease-in-out infinite;

}

#blueGradient {
    animation: rotate 12s linear infinite;
    transform: rotate(360deg);
}

#afterblueGradient {
    animation: rotate 4s linear infinite;
    transform: rotate(360deg);
}

#svg2{animation: float 4s ease-in-out infinite;

}

#redGradient {
    animation: rotate 6s linear infinite;
    transform: rotate(360deg);
}

#afterredGradient {
    animation: rotate 4s linear infinite;
    transform: rotate(360deg);
}



/* Planets Time labels and click text*/

h5.text {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px; 
    color: var(--white-color);
}

.click-text{
    font-family: "Karla", sans-serif;
    font-size: 14px; 
    color: var(--white-color);
}

#body_title{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 25vh; /* 让容器铺满整个视口高度 */
}

    
.meetingtime { 
    padding: calc(var(--font-size) * 1.5);
    padding-top: calc(var(--font-size) * 2);
    padding-bottom: calc(var(--font-size) * 0.5);    
    margin-bottom:10vh;
    justify-content: center; /* 水平居中 */
    text-align: center;
    position: sticky;
    z-index: 1000; /* 确保元素处于顶层 */
    width: 60vw;
    top: 10%; /* 设置距离顶部的距离为页面高度的 10% */
    opacity: 100%;
    color: white;
    transition: opacity 1s; /* 使用过渡效果，时长为 1 秒 */
    font-size: 40px;
    line-height: 50px;
    opacity: 0%;
}




#concept_description{
    text-align: left;
    width:40vw;
    color:var(--white-color);
    opacity: 0.8;
}



/* Quesstion card */



#questioncard {
    display: flex;
    flex-direction: column; 
    justify-content: center; /* 居中对齐 */
    align-items: center; /* 居中对齐 */
    position: fixed; /* 相对于浏览器窗口定位 */
    z-index: 1000; /* 确保元素处于顶层 */
    width: 60vw; /* 设置宽度为视口宽度的 60% */
    height: auto; /* 自动高度 */
    left: 50%; /* 位于屏幕水平中心 */
    top: 50%; /* 位于屏幕垂直中心 */
    transform: translate(-50%, -50%); /* 使用transform来将元素水平和垂直居中 */
}

.todaychallenge{
    font-weight: 200;
    color:var(--accent-color);
    font-size:18px ;
    text-align: center;
    margin-bottom:2vh;
    margin-top:0vh; }


#question {
    background-color: rgba(0, 0, 0, 0.7); 
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    flex-direction: column; 
    padding-right:10vw;
    padding-left:10vw;
    padding-top: 10vh;
    padding-bottom:10vh;
    z-index: 9999; 
    backdrop-filter: blur(10px); 
    display: none;
}



#closemark {
    width: 24px; 
    height: 24px; 
    position: absolute;
    color: var(--accent-color);
    top: 10px; 
    right: 10px; 
    cursor: pointer; 
    font-size: 14px; 
    line-height: 24px; 
    text-align: center;
    font-family: "Karla", sans-serif;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
}

#closemark:hover {
    background-color: var(--accent-color);
    backdrop-filter: blur(10px); 
    color:var(--background-color)
}



/* footer*/


footer{
    margin-top:10vh;
    padding:20vh;
}

.footer_text{
    color:var(--white-color);
    opacity: 0.6;
}


/* animation*/
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0px); }
}


/* Balls */
@keyframes orbit {
    0% { transform: rotate(0deg) translateX(-50%) translateY(-50%); }
    100% { transform: rotate(360deg) translateX(-50%) translateY(-50%); }
  }
  
  #ball {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, #8a7ddc, #1b006c);
    position: fixed;
    opacity: 0.3;
    top: 50%;
    left: 80%;
    animation: orbit 80s linear infinite; /* 每十秒繞一圈 */
  }


  #ball2 {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: radial-gradient(circle, #7e5bd7, #17093c);
    position: fixed;
    opacity: 0.4;
    top: 10%;
    left: 20%;
    filter: blur();
    animation: orbit 20s linear infinite; /* 每十秒繞一圈 */
  }

  #ball3 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(circle, #7e5bd7, #17093c);
    position: fixed;
    opacity: 0.4;
    bottom: -20%;
    left: -40%;
    animation: orbit 40s linear infinite; /* 每十秒繞一圈 */
  }

/* mobile */

@media  (max-width: 576px) {
    
    #hero{
        width:100%;
        background-color: var(--light-gray);
        height: auto;
    }

    .content_grid {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: top;
    }

    .grid_left{
        align-items:flex-start;
        width: 100%;

    }
    
    
    .grid_right {
        width: 100%;
        border-left: none;
        align-items:flex-start;
        margin-top:-30px;
    }
    

    h1{
        font-size: calc(var(--font-size)*3);
        line-height:calc(var(--font-size)*4);
        width: 100%;
    }
    
    
    
    h2{
        width: 100%;
        font-size: calc(var(--font-size)*1.5);
        color: var(--dark-gray);
        line-height: calc(var(--font-size)*2);
    }

    h3{
        width:100%;
        text-align:left;
    }
    
    
    
    h4{
        width:100%;
        text-align:left;
    }
    



/* Planets Time labels and click text*/

#body_title{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 30vh; /* 让容器铺满整个视口高度 */
    margin-top:-25vh;
}



.meetingtime { 
    font-size: 20px;
    line-height: 30px;
}

footer{
    padding:10%;
}


}
