@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* general */
:root {
    --background-color: #000000;
    --white-color:white;
    --light-gray:hsl(210, 2%, 80%);
    --dark-gray:#818181;
    --accent-color:#00FFF0;

    /* font */
    --font-size: 16px;
    --font-family: "inter", sans-serif;
    --font-family2: "Hind Siliguri", serif;
    --font-faimly3:"Newsreader", serif;
    --line-hegight:24px;

}

/* layout */

body{
    background-color: var(--background-color)

}

#hero{
    margin: 1vw;
    background-color: var(--light-gray);
    padding-top: var(--font-size);
    border-radius: 20px 20px 0 0;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.hero-hidden {
    transform: translateY(-100%);
    opacity: 0;
}

hr{
    border: 0.5px solid rgb(0, 0, 0);
    margin:0px;
    }

.content_grid {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.grid_left{
    width:60%;
    padding:calc(var(--font-size)*1.5);
    display: flex; /* 使用 Flexbox 布局 */
    flex-direction: column; /* 设置垂直布局 */
    align-items: flex-start; /* 设置子元素水平向左对齐 */
}


.grid_right{
    width:40%;
    border-left: 1px solid rgb(0, 0, 0);
    padding:calc(var(--font-size)*1.5);
    align-items: flex-start;
}





/* fonts */
h1{
    font-family: "Saira Condensed", sans-serif;
    font-size: calc(var(--font-size)*5);
    line-height:calc(var(--font-size)*6);
    margin:calc(var(--font-size)*0);
}

h2{
    font-size: calc(var(--font-size)*1.5);
    color: var(--dark-gray);
    font-family: "Karla", sans-serif;
    font-weight: 600;
    margin-top:calc(var(--font-size)*1.2);
    line-height: calc(var(--font-size)*2.2);

}

h3{
    font-size:calc(var(--font-size)*1.2);
    color: var(--background-color);
    line-height:calc(var(--font-size)*1.8);
    font-family: "Karla", sans-serif;
    text-align:right;

}



h4{
    font-size:var(--font-size);
    color: var(--background-color);
    font-weight: 300;
    line-height:calc(var(--font-size)*1.5);
    font-family: "Karla", sans-serif;
    text-align:right;

}


h5{
    color:var(--accent-color);
    text-align: center;
    font-family: "Saira Condensed", sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}


h6{
    font-size: calc(var(--font-size)*1.5);
    color: var(--accent-color);
    font-family: "Karla", sans-serif;
    font-weight: 600;
    line-height: calc(var(--font-size)*2.2);
    text-align: center;
    font-weight: 200;
    margin:0px;
}



/* Planets */



#svg1{animation: float 10s ease-in-out infinite;

}

#blueGradient {
    animation: rotate 12s linear infinite;
    transform: rotate(360deg);
}

#afterblueGradient {
    animation: rotate 4s linear infinite;
    transform: rotate(360deg);
}

#svg2{animation: float 4s ease-in-out infinite;

}

#redGradient {
    animation: rotate 6s linear infinite;
    transform: rotate(360deg);
}

#afterredGradient {
    animation: rotate 4s linear infinite;
    transform: rotate(360deg);
}



/* Planets Time labels and click text*/

h5.text {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px; 
    color: var(--white-color);
}

.click-text{
    font-family: "Karla", sans-serif;
    font-size: 14px; 
    color: var(--white-color);
}


    
.meetingtime{
    padding:calc(var(--font-size)*1.5);
    padding-top:calc(var(--font-size)*5);
    padding-bottom:calc(var(--font-size)*0.5);
    color:var(--white-color);
    justify-content: left; /* 水平居中 */
    text-align: left;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* 确保元素在顶部 */
    z-index: 1000; /* 确保元素处于顶层 */
    opacity: 1; /* 默认透明度 */
    width:25vw;
}



/* Quesstion card */



#questioncard {
    display: flex;
    flex-direction: column; 
    justify-content: center; /* 居中对齐 */
    align-items: center; /* 居中对齐 */
    position: fixed; /* 相对于浏览器窗口定位 */
    z-index: 1000; /* 确保元素处于顶层 */
    width: 60vw; /* 设置宽度为视口宽度的 60% */
    height: auto; /* 自动高度 */
    left: 50%; /* 位于屏幕水平中心 */
    top: 50%; /* 位于屏幕垂直中心 */
    transform: translate(-50%, -50%); /* 使用transform来将元素水平和垂直居中 */
}

.todaychallenge{
    font-weight: 200;
    color:var(--accent-color);
    font-size:18px ;
    text-align: center;
    margin-bottom:2vh;
    margin-top:0vh; }


#question {
    background-color: rgba(0, 0, 0, 0.7); 
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    flex-direction: column; 
    padding-right:10vw;
    padding-left:10vw;
    padding-top: 10vh;
    padding-bottom:10vh;
    z-index: 9999; 
    backdrop-filter: blur(10px); 
    display: none;
}



#closemark {
    width: 24px; 
    height: 24px; 
    position: absolute;
    color: var(--accent-color);
    top: 10px; 
    right: 10px; 
    cursor: pointer; 
    font-size: 14px; 
    line-height: 24px; 
    text-align: center;
    font-family: "Karla", sans-serif;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
}

#closemark:hover {
    background-color: rgba(0, 204, 255, 0.5); 
    backdrop-filter: blur(10px); 
}






footer{
    margin-top:10vh;
    padding:2vw;
    background-color: #242424;
    position: sticky;
}


/* animation*/
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}
